* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  margin-bottom: 20px;
}

.main-card {
  height: 200px;
  margin-top: 20px;
}

.image-card {
  background: url("../images/v98_61.png") center center / cover no-repeat;
  height: 400px;
  position: relative;
}

.content-card {
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  width: 48%;
  position: relative;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
}

.cancel-button {
  background-color: #fff;
  color: rgba(96,150,180,1);
  border: 1px solid rgba(238,233,218,1);
}

.book-button {
  background-color: rgba(96,150,180,1);
  color: rgba(238,233,218,1);
}

.info-group, .note-section, .time-section, .date-section, .vehicle-section {
  margin-bottom: 20px;
}

.info-item, .note, .time, .date, .vehicle {
  margin-bottom: 10px;
}

.info-background, .option-background, .time-picker-background, .date-picker-background, .personal-info-background {
  background: rgba(255,255,255,1);
  border: 0.5px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: 10px;
}

.note-section .note {
  font-size: 15px;
}

.note-section .service-options {
  display: flex;
  justify-content: space-between;
}

.option-group {
  display: flex;
  align-items: center;
}

.option-icon, .time-picker-icon, .date-picker-icon {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-icon-inner, .time-picker-icon-inner, .date-picker-icon-inner {
  width: 10px;
  height: 5px;
  background: rgba(96,150,180,1);
}

.personal-info-group {
  margin-bottom: 10px;
}

.personal-info-item {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .service-options {
    flex-direction: column;
  }

  .option-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .note-section .note, .time-section .time, .date-section .date, .vehicle-section .vehicle, .personal-info-group, .form-title {
    text-align: center;
  }

  .option-group, .option-group .option-icon, .time-picker-icon, .date-picker-icon {
    margin: 0 auto;
  }
}
